*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.about-me-profession {
    font-size: 14px;
    font-weight: 700;
 }
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 1320px;
    margin: 40px auto;
}
.pl-20 {
    padding-left: 20px;
}
.my-photo{
    width: 255px;
}
.contacts-section{
    font-size: 14px;
}
/* Sidebar section */

.sidebar-section{
    background-color: #d9d499;
    width: 370px;
    padding: 40px;
}